iframe{
    width:100%;
    height:100%;
}
.voffset2 { 
    margin-top: 15px; 
    margin-bottom:30px;

}
.voffset3 { 
    margin-top: 15px; 
    margin-bottom:30px;
    margin-left:auto;
    margin-right:auto;
}
.voffset4 { 
    margin-top: 30px; 
    margin-bottom:30px;
    min-height:200px;
    margin-left:10px;
    margin-right:10px;
}

.background{
    background-image:url(images/footer_lodyas.png);
}
.background2 {
    background-image:url(images/geometry2.png);
    min-height:100%;
    margin-top:35px;
    border:4px solid black;
}